<!doctype html>
<html lang="tr-TR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>League123</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="axios.min.js"></script>
    <script src="vue.min.js"></script>
    <script src="vue-router.min.js"></script>
</head>
<body>
<div id="app">
    <transition name="fade">
        <div class="container px-md-4 py-4" style="display: none" v-show="!$route.params.id && !$route.params.league && load">
            <form @submit="join()">
                <h4 class="mb-3 px-1 text-center home-h4" v-text="'Ortam oluştur ya da katıl'"></h4>
            <p class="text-center">Bir ID oluşturarak arkadaşlarınla paylaş<br/>ya da bir ID'ye katıl.</p>
            <label class="mt-4 ml-1 lbl" v-text="'ID Girin:'"></label>
            <input type="number" class="form-control w-100" v-model="getid"/>
            <p class="mt-2 ml-2 req" v-text="'* en az 6 karakter olmalı'"></p>
            <input type="submit" class="btn btn-secondary w-100 mt-3" value="Katıl">
            </form>
        </div>
    </transition>

    <transition name="fade">
        <div class="container px-md-4 py-4" style="display: none" v-show="$route.params.id && !$route.params.league && load">
            <div class="row">
                <div class="col-12 mb-4">
                    <h4 class="mb-0 px-1 text-center" v-text="'ID: ' + $route.params.id"></h4>
                    <img class="position-absolute px-2 cursor-pointer back-btn" src="back.svg" @click="goHome()" />
                </div>
                <div class="col-12">
                    <ul class="list-group league-list cursor-pointer">
                        <a @click="go(safe_url + '?new#/' + $route.params.id + '/new')">
                            <li class="list-group-item new-l"><b>Yeni Lig Oluştur</b></li>
                        </a>
                        <a v-for="item in list" @click="go(safe_url + '?'+ item.name + '#/' + $route.params.id + '/' + item.name)" class="cursor-pointer">
                            <li class="list-group-item" v-html="'<b>' + item.league + ' Ligi</b><span>' + item.created_at + '</span><br>' + to_string(item.teams)"></li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </transition>

    <transition name="fade">
        <div class="container px-md-4 py-4" style="display: none" v-show="$route.params.league && load">
            <div class="row">
                <div class="col-12">
                    <h4 class="mb-0 px-1 text-center" v-text="league + ' Ligi'"></h4>
                    <img class="position-absolute px-2 cursor-pointer back-btn" src="back.svg" @click="goBack()" />
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-12 mb-0 px-0">
                    <table class="table mb-0">
                        <thead>
                        <tr>
                            <th></th>
                            <th>O</th>
                            <th>A</th>
                            <th>Y</th>
                            <th>AV</th>
                            <th>P</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="i in t_sort" :id="'team_'+i" :t="teams[ parseInt(i) ]" :to="values.o[ parseInt(i) ]"
                            :ta="values.a[ parseInt(i) ]"
                            :ty="values.y[ parseInt(i) ]" :tav="values.a[ parseInt(i) ] - values.y[ parseInt(i) ]"
                            :tp="values.p[ parseInt(i) ]">
                            <td v-text="teams[ parseInt(i) ]"></td>
                            <td v-text="values.o[ parseInt(i) ]"></td>
                            <td v-text="values.a[ parseInt(i) ]"></td>
                            <td v-text="values.y[ parseInt(i) ]"></td>
                            <td v-text="values.av[ parseInt(i) ]"></td>
                            <td v-text="values.p[ parseInt(i) ]"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 matches" :class="{'two':index, 'one':!index}" v-for="(time, index) in matches">
                    <h3 class="p-2 mx-auto mt-5 mb-3 text-center font-weight-normal" v-text="index ? 'II. Yarı': 'I. Yarı'"></h3>
                    <div class="row py-2 match" v-for="item in time">
                        <div class="col-4 col-md-5 text-right my-auto team-col" v-text="teams[item[0]]"></div>
                        <div class="col-4 col-md-2 text-center score" :id="item[0] + '_' + item[1]">
                            <input type="text" class="form-control text-center in score-input" @keyup="getScores()"/><input
                                type="text" class="form-control text-center out score-input" @keyup="getScores()"/>
                        </div>
                        <div class="col-4 col-md-5 my-auto team-col" v-text="teams[item[1]]"></div>
                    </div>
                </div>
                <div class="col-12 my-3 pb-0 text-right">
                    Oluşturma : {{ created_at }}<br/>Son Değiştirme : {{ updated_at }}
                    <div class="text-danger text-left float-left position-absolute h-100 d-flex align-items-center cursor-pointer del" @click="del()">
                        <img class="mx-2" src="trash.svg" />
                    </div>
                </div>
            </div>
        </div>
    </transition>

    <transition name="fade">
        <div class="container my-0 text-center d-flex made-by" v-if="load"><p class="my-auto my-0 py-0 w-100" style="display: none; color: #6c757d" v-show="load">made by ajans123</p></div>
    </transition>
    <div class="lds-ring" v-show="!load"><div></div><div></div><div></div><div></div></div>
</div>
<script src="script.min.js"></script>
<script src="jquery.min.js"></script>
</body>
</html>