body {
  background: #fff !important;

  #app {

    .form-control {
      color: #495057 !important;
      display: inline-block;
      width: calc(50% - 3px);
      margin: 0 !important;
      font-size: 20px;
      border-radius: 0 !important;
      padding: 1px 6px !important;
      height: auto !important;
      border: 0 !important;
      background: 0 0
    }

    .form-control.out {
      border-left: 0 !important
    }

    .team-col {
      font-size: 16px;
      text-transform: capitalize;
      display: inline-block;
      width: calc(30vw)
    }

    .flex-center {
      display: flex;
      align-items: center;
      justify-content: center
    }

    .text-primary {
      color: #5190cd !important;
    }

    .made-by-ajans123 {
      color: #dfe1e2;
    }

    .score {
      width: 100px
    }

    span {
      font-size: 23px;
      margin: 8px
    }

    .matches.one {
      border-bottom: 0 !important
    }

    input:focus {
      border-color: #bababa !important;
      box-shadow: 0 0 0 transparent !important
    }

    h3 {
      font-size: 20px
    }

    .table {
      font-size: 16px;
      color: #000000c7 !important
    }

    th {
      border-top: 0 !important;
      color: #5190cd;
      text-align: center !important;
      font-weight: 400 !important;
      border-bottom: 1px solid #5190cd !important
    }

    td {
      text-align: center !important
    }

    td:first-child {
      text-align: left !important;
      text-transform: capitalize;
      width: 50%;
      font-weight: 400 !important;
      color: #424242 !important
    }

    .container {
      padding: calc(1rem + -1px) !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      box-shadow: 0 0 0 transparent !important;
      min-height: calc(100vh - 5rem) !important
    }

    h4 {
      padding-top: 2rem;
      margin: 0 !important;
      color: #5190cd;
      font-size: 24px;
      font-weight: 200;
      text-transform: capitalize
    }

    h2 {
      color: #323232;
      font-weight: 400;
      font-size: 1.8rem
    }

    a {
      text-decoration: none !important
    }

    .hr-blank {
      background: #4a4a4a !important;
      position: absolute;
      left: 0;
      height: 26px !important;
      width: 100%;
      margin: 0 !important
    }

    .list-group-item {
      color: #000;
      margin-bottom: .75rem;
      padding: .65rem 0;
      line-height: 20px;

      b {
        font-weight: 400;
        color: #5190cd;
      }
    }

    .list-group-item:last-child:hover {
      background: #fff
    }

    .league-list {
      span.date {
        font-size: 16px;
        position: absolute;
        right: 0;
        top: 0;
        color: #828282
      }

      b {
        width: calc(100% - 125px);
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
      }

      h2 {
        font-weight: 500 !important;
        color: #323232 !important
      }
    }

    .new-l {
      display: flex
    }

    .top-0 {
      top: 0;
    }

    .left-0 {
      top: 0;
    }

    .lds-ring {
      display: inline-block;
      width: 80px;
      height: 80px;

      div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        margin: 8px;
        border: 4px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
        border-color: #c9c9c9 transparent transparent transparent
      }

      div:nth-child(1) {
        animation-delay: -.45s
      }

      div:nth-child(2) {
        animation-delay: -.3s
      }

      div:nth-child(3) {
        animation-delay: -.15s
      }
    }

    @keyframes lds-ring {
      0% {
        transform: rotate(0)
      }
      100% {
        transform: rotate(360deg)
      }
    }

    .fade-enter-active, .fade-leave-active {
      transition: opacity .25s
    }

    .fade-enter, .fade-leave-to {
      opacity: 0
    }

    .list-group-item {
      text-transform: capitalize
    }

    .cursor-pointer {
      cursor: pointer
    }

    .del {
      top: 0;
      opacity: .35
    }

    .del:hover {
      opacity: .75
    }

    * {
      overflow-wrap: break-word !important
    }

    .req {
      color: #909090 !important
    }

    .lbl {
      font-weight: 500 !important;
      color: #696969 !important
    }

    .home-h4 {
      text-transform: none !important
    }

    .back-btn {
      top: calc(100% - 38px) !important;
      height: 20px !important
    }

    .lock-btn {
      top: calc(100% - 38px) !important;
      right: 15px;
      height: 20px !important;
      margin-top: 13px;
    }

    .made-by {
      min-height: 5rem !important
    }

    .list-group-item {
      border: 0 !important;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 0 !important;
    }

    .table {
      td, th {
        padding: 8px 9px;
        vertical-align: top;
      }
    }

    td {
      border: 0 !important
    }

    tr:nth-child(even) {
      background: #e5e5e547
    }

    strong {
      font-weight: 400;
      font-size: 24px;
      position: relative;
      bottom: 2px
    }

    .match:nth-child(even) {
      background: #f8f8f8 !important
    }

    div.timer {
      font-size: 14px !important;
      color: #a6a6a6 !important
    }

    .id-entry {
      border: 1px solid #6c757d !important
    }

    .form-control:disabled, .form-control[readonly] {
      background-color: transparent;
      opacity: 1
    }

    .form-control:focus {
      background: 0 0 !important
    }

    .form-control:disabled, .form-control[readonly] {
      color: #495057 !important
    }

    /* Transitions */

    .next-leave-to {
      animation: leaveToLeft 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
      z-index: 0;
    }

    .next-enter-to {
      animation: enterFromRight 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
      z-index: 1;
    }

    .prev-leave-to {
      animation: leaveToRight 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
      z-index: 1;
    }

    .prev-enter-to {
      animation: enterFromLeft 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
      z-index: 0;
    }

    @keyframes leaveToLeft {
      from {
        transform: translateX(0);
        opacity: 1;
      }
      to {
        transform: translateX(-100%);
        opacity: 0;
      }
    }

    @keyframes enterFromLeft {
      from {
        transform: translateX(-100%);
        opacity: 0;
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes leaveToRight {
      from {
        transform: translateX(0);
        opacity: 1;
      }
      to {
        opacity: 0;
        transform: translateX(100%);
      }
    }

    @keyframes enterFromRight {
      from {
        transform: translateX(100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .create-page {
      label {
        font-weight: 500;
      }

      input {
        border-bottom: 1px solid #dadada !important;
        padding: 0 0 .25rem 0 !important;
      }

      .btn {
        color: #ffffff !important;
        background: #5190cd !important;
        transition: 250ms all !important;
      }

      .btn:disabled {
        opacity: .25 !important;
        filter: grayscale(1) !important;
      }
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none !important;
      margin: 0 !important;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield !important;
    }

    .stats-icon {
      margin-top: 16px !important;
      opacity: .75 !important;
      transform: scale(-1) !important;
    }

    .stats-page {
      .detail-page {
        padding: 1rem !important;
        h4 {
          font-size: 20px !important;
        }
        .col-12 {
          padding: 0 !important;
        }
      }
      .container {
        min-height: auto !important
      }
      .person {
        margin-top: 1rem;
        color: black !important;
        line-height: 1.7rem;
        margin-bottom: 3rem;
        border-top: 1px solid #f0f0f0;
        padding-top: 1.75rem;
      }

      .person:first-child {
        border: 0 !important;
      }

      .team-title {
        font-weight: 400 !important;
        text-align: center !important;
        margin-bottom: 1rem !important;
        color: #5190cd;
      }
      table {
        width: 100% !important;

        td {
          padding: .5rem .75rem;
          text-transform: none;
        }

        td:nth-child(1) {
          font-weight: 600 !important;
        }

        td:nth-child(2) {
          text-align: right !important;
        }

        tr:nth-child(even) {
          background: #f6f6f6;
        }
      }

      .star-img {
        width: 22px;
        margin-left: .25rem;
        margin-right: .25rem;
      }

      .stars {
        margin-top: -.75rem;
        margin-bottom: .5rem;
      }

      .champs {
        font-weight: 600 !important;
      }
    }

  }
}
